.top{
    padding-top: 10.5rem;
    padding-bottom: 4rem;
    width: 1262.67px;
    height: 100px;
    display: flex;
    position: absolute;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 1;
    border-color: transparent;
      }
.body{
    width: 1262px;
    height: 1025px;
    display: flex;
    overflow: hidden;
    position: relative;
    max-width: 1435px;
    box-sizing: border-box;
    align-items: flex-start;
    border-color: transparent;
    background-color: rgba(255, 255, 255, 1);
}
.left{
  top: 0px;
  bottom: 100px;
  left: 0px;
  width: 344px;
  height: 90px;
  position: absolute;
  object-fit: cover;
  background-color: rgba(255, 255, 255, 1);
}

.delcr{
    top: 5px;
    left: 10px;
    width: 90px;
    height: 40px;
    position: absolute;
    border-color: transparent;
}

.delc{
    top: 20px;
    left: 130px;
    width: 30px;
    height: 20px;
    position: absolute;
    border-color: transparent;
}
.right{
    top: 0px;
    bottom: 100px;
    right: 0px;
    width: 344px;
    height: 90px;
    position: absolute;
    object-fit: cover;
    background-color: rgba(255, 255, 255, 1);
  }
  .text{
    top: 10px;
  right: 24px;
  color: rgba(196, 196, 196, 1);
  cursor: pointer;
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Montserrat;
  font-weight: 600;
  line-height: 131.40000104904175%;
  font-stretch: normal;
  text-decoration: none;
  }
  
  .logout{
    top: 15px;
    right: 90px;
    width: 19px;
    height: 15px;
    position: absolute;
    object-fit: cover;
    border-color: transparent;
  }
  .lonceng{
    top: 15px;
    right: 120px;
    width: 40px;
    height: 20px;
    position: absolute;
    object-fit: cover;
    border-color: transparent;
  }

  .judul{
    top: 50px;
    width: 1260px;
    height: 100px;
    position: absolute;
    border-color: transparent;
    background-color: rgba(36, 105, 92, 1);
  }
  .exercise{
    color: rgba(255, 255, 255, 1);
    text-align: center;
  }
  .perintah{
    top: 150px;
    left: 68px;
    color: rgba(0, 0, 0, 1);
    width: 962px;
    height: auto;
    position: absolute;
    font-size: 28px;
    align-self: auto;
    font-style: normal;
    text-align: center;
    font-family: Montserrat;
    font-weight: 600;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .kotaksamping{

position: absolute;
width: 265px;
height: 818px;
left: 0px;
top: 150px;

background: rgba(0, 0, 0, 0.41);

  }
  .jjudul{
    width: 130px;
    padding: 14px 0px;
    text-align: center;

font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 0px;

color: #000000;


  }


  .button{
      border: none;
      color: black;
      cursor: pointer;
    }
  .tulisan1{
color: #626B6D;
width: 260px;
height: 40px;
top: 191px;
left: 0px;
padding: 0px 10px;
text-align: left;
font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 37px;
  }

  .tulisan1:hover {
  color: black}
  .tulisan2{
    color: #626B6D;
    width: 260px;
    height: 40px;
    left: 0px;
    padding: 0px 10px;
    text-align: left;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 37px;
      }
  .tulisan2:hover {
    color: black}

  .questionbox{
    top: 220px;
    left: 301px;
    width: 1000px;
    height: 239px;
    position: absolute;
    object-fit: cover;
    border-color: transparent;
    background-color: rgba(196, 196, 196, 1);
  }
  .questionbox input[type="text"] {
    top: 75px;
    left: 100px;
    width: 60px;
    border-color: transparent;
    background-color: rgba(255, 255, 255, 1);
  }
  .questionbox-text{
  top: 0px;
  left: 5px;
  color: rgba(0, 0, 0, 1);
  width: 824px;
  height: auto;
  position: absolute;
  font-size: 28px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Montserrat;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
  }
  .textbox1{
    top: 320px;
    left: 329px;
    width: 94px;
    height: 26px;
    width: 1000px;
    height: 239px;
    position: absolute;
    object-fit: cover;
    border-color: transparent;
    background-color: rgba(255, 255, 255, 1);
  }

.submittan{
position: absolute;
width: 228px;
height: 75px;
right: 40px;
top: 525px;
color: white;
font-size: large;
background: #24695C;
border-radius: 48px;
cursor: pointer;
}


.blank{
    top: 70px;
    width: 94px;
    height: 26px;
    position: absolute;
    object-fit: cover;
    border-color: transparent;
    background-color: rgb(0, 0, 0);
}



.yanswer{
position: absolute;
width: 166px;
height: 29px;
left: 301px;
top: 470px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 29px;

color: #000000;}

.yanswer-input[type=text]{

position: absolute;
width: 265px;
height: 38px;
left: 400px;
top: 470px;

background: rgba(255, 255, 255, 0.56);
border: 1px solid rgba(0, 0, 0, 0.24);
box-sizing: border-box;
border-radius: 7px;

}

.showan{
  position: absolute;
  width: 228px;
  height: 75px;
  left: 301px;
  top: 525px;
  color: white;
  font-size: large;
  background: #24695C;
  border-radius: 48px;
  cursor: pointer;
  }

  .close{
    position: absolute;
    width: 228px;
    height: 75px;
    left: 301px;
    top: 825px;
    color: white;
    font-size: large;
    background: #24695C;
    border-radius: 48px;
    cursor: pointer;
    }

    .next{
      position: absolute;
      width: 228px;
      height: 75px;
      right: 40px;
      top: 825px;
      color: white;
      font-size: large;
      background: #24695C;
      border-radius: 48px;
      cursor: pointer;
      }
    .ngegrid{

position: absolute;
width: 1435px;
height: 1000px;
left: 0px;
top: 130px;

background: white;

    }
      
  .button2{
    border: none;
    color: white;
    cursor: pointer;
    border-style: solid;
  }
    .kotakmenu1{
position: absolute;
width: 199px;
height: 222px;
left: 91px;
top: 120px;
box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
border-radius: 20px;
border-style: solid;
background-color:white;
    }
    .kotakmenu1:hover{
      color: white;
    }
    .kotakmenu2{
      position: absolute;
      width: 199px;
      height: 222px;
      left: 360px;
      top: 120px;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
      border-radius: 20px;
      border-style: solid;
      background-color:white;
          }
          .kotakmenu2:hover{
            color: white;
          }
     .kotakmenu3{
            position: absolute;
            width: 199px;
            height: 222px;
            right: 560px;
            top: 120px;
            box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
            border-radius: 20px;
            border-style: solid;
            background-color:white;
                }
                .kotakmenu3:hover{
                  color: white;
                }
      .kotakmenu4{
         position: absolute;
          width: 199px;
        height: 222px;
        right: 260px;
        top: 120px;
       box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
       border-radius: 20px;
       border-style: solid;
       background-color:white;
                      }
       .kotakmenu4:hover{
       color: white;
                      }
    
      .kotakmenu5{
        position: absolute;
         width: 199px;
        height: 222px;
         left: 91px;
         top: 400px;
          box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
            border-radius: 20px;
          border-style: solid;
         background-color:white;
                            }
                            .kotakmenu5:hover{
                              color: white;
                            }
                            .kotakmenu6{
                              position: absolute;
                              width: 199px;
                              height: 222px;
                              left: 360px;
                              top: 400px;
                              box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
                              border-radius: 20px;
                              border-style: solid;
                              background-color:white;
                                  }
                                  .kotakmenu6:hover{
                                    color: white;
                                  }
                             .kotakmenu7{
                                    position: absolute;
                                    width: 199px;
                                    height: 222px;
                                    right: 560px;
                                    top: 400px;
                                    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
                                    border-radius: 20px;
                                    border-style: solid;
                                    background-color:white;
                                        }
                                        .kotakmenu7:hover{
                                          color: white;
                                        }
                              .kotakmenu8{
                                 position: absolute;
                                  width: 199px;
                                height: 222px;
                                right: 260px;
                                top: 400px;
                               box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
                               border-radius: 20px;
                               border-style: solid;
                               background-color:white;
                                              }
                               .kotakmenu8:hover{
                               color: white;
                                              }










