.q1{
    position:relative;
    z-index:31;
    pointer-events:none;
    margin-left:654px;
    width:786px;
    min-width:786px;
    height:701px;
    margin-top:-2745px;
    margin-bottom:2044px;
    min-height:701px;
    content:url(assets/images/_1.png);
  }
  .q1-outer{
    pointer-events:none;
    z-index:31;
    position:relative;
    display:flex;